@section RenderBodyStyles{
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
}

@{
    var loginAuthUrl = Url.Action("Index", "Auth");
}

<section class="vh-100 rounded-3 main-background">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-6 col-lg-4 col-md-3">
                <div class="card glass-container" style="border-radius: 1rem;">
                    <div class="row g-0 justify-content-center">
                        <div class="col-md-6 col-lg-8 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register account success!!!</h3>
                                <a class="btn btn-primary" href="@loginAuthUrl">Back To Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>