<div class="container-fluid">
    <form class="row g-3">
        <div class="col-lg-6">
            <label class="form-label">ClassName</label>
            <input
                type="text"
                placeholder="ClassName"
                   name="ClassName"
                id="ClassName"
                class="form-control" />
        </div>
        <div class="col-lg-6">
            <label class="form-label">ClassType</label>
            <select id="ClassType" class="form-select">
                <option value="">Please select type</option>
                <option value="Five">Five</option>
                <option value="Five">Five</option>
                <option value="Five">Five</option>
            </select>
    </form>
</div>