@section RenderBodyStyles{
    <link rel="stylesheet" href="~/css/class.css" />
}

@section Scripts{
    <script src="./js/Class.js"></script>
}

<script type="text/javascript">
    var registerClassDataUrl = '@Url.Action("RegisterClassData", "Class")';
</script>

<section class="vh-100 rounded-3 main-background">
    <div class="card shadow border-0 mt-4 glass-container">
        <div class="card-header bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 rounded-2 text-center">
                    <h2 class="py-2 text-header" style="">Class Management</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row justify-content-end pb-3">
                <div class="col-6 text-end">
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#RegisterClassPopup">
                        <i class="bi bi-patch-plus"></i> Create new class
                    </a>
                </div>
            </div>

            <table id="tbl-class" class="table table-bordered table-striped">
            </table>
        </div>
    </div>
</section>

<partial name="_ClassInsertPopPartial" />